<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_8apikLldEeSgCsbis2TQMw" specification="interface user:&#xD;&#xA;var infection_confirmed: boolean&#xD;&#xA;&#xD;&#xA;interface sensors:&#xD;&#xA;var cvp: integer&#xD;&#xA;var hr: integer&#xD;&#xA;var wbc: integer&#xD;&#xA;&#xD;&#xA;interface common:&#xD;&#xA;var SIRS_score:integer&#xD;&#xA;var organ_dysfunction: boolean&#xD;&#xA;var two_organ_dysfunction: boolean&#xD;&#xA;var main_status:string&#xD;&#xA;var immune_status:string&#xD;&#xA;var cardiac_status:string&#xD;&#xA;" name="sepsis">
    <regions xmi:id="_8axeYLldEeSgCsbis2TQMw" name="main sepsis">
      <vertices xsi:type="sgraph:Entry" xmi:id="_8a4MEbldEeSgCsbis2TQMw">
        <outgoingTransitions xmi:id="_8a72c7ldEeSgCsbis2TQMw" target="_8a5aNLldEeSgCsbis2TQMw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_8a5aNLldEeSgCsbis2TQMw" specification="entry/ common.main_status=&quot;Normal&quot;" name="Normal" incomingTransitions="_8a72c7ldEeSgCsbis2TQMw">
        <outgoingTransitions xmi:id="_UDbVQLlfEeSgCsbis2TQMw" specification="[common.SIRS_score>=4]" target="_LxcQ8LlfEeSgCsbis2TQMw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_LxcQ8LlfEeSgCsbis2TQMw" specification="entry/ common.main_status=&quot;SIRS&quot;" name="SIRS" incomingTransitions="_UDbVQLlfEeSgCsbis2TQMw">
        <outgoingTransitions xmi:id="_ZuGZELlfEeSgCsbis2TQMw" specification="[user.infection_confirmed]" target="_NTHfELlfEeSgCsbis2TQMw"/>
        <outgoingTransitions xmi:id="_RaknMLlgEeSgCsbis2TQMw" specification="[common.SIRS_score&lt;4]" target="_RxrVELlfEeSgCsbis2TQMw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_M-qSALlfEeSgCsbis2TQMw" specification="entry/ common.main_status=&quot;Severe_Sepsis&quot;" name="Severe_Sepsis" incomingTransitions="_ghZ44LlfEeSgCsbis2TQMw _5FRQQLlfEeSgCsbis2TQMw">
        <outgoingTransitions xmi:id="_kEDgQLlfEeSgCsbis2TQMw" specification="[!(common.organ_dysfunction)]" target="_NTHfELlfEeSgCsbis2TQMw"/>
        <outgoingTransitions xmi:id="_17CI4LlfEeSgCsbis2TQMw" specification="[sensors.cvp&lt;8]" target="_QVIekLlfEeSgCsbis2TQMw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_NTHfELlfEeSgCsbis2TQMw" specification="entry/ common.main_status=&quot;Sepsis&quot;" name="Sepsis" incomingTransitions="_ZuGZELlfEeSgCsbis2TQMw _kEDgQLlfEeSgCsbis2TQMw _sk11kLlfEeSgCsbis2TQMw">
        <outgoingTransitions xmi:id="_ghZ44LlfEeSgCsbis2TQMw" specification="[common.organ_dysfunction]" target="_M-qSALlfEeSgCsbis2TQMw"/>
        <outgoingTransitions xmi:id="_o53_sLlfEeSgCsbis2TQMw" specification="[sensors.cvp&lt;8]" target="_QVIekLlfEeSgCsbis2TQMw"/>
        <outgoingTransitions xmi:id="_WEexkLlgEeSgCsbis2TQMw" specification="[(sensors.cvp >=8 &amp;&amp; sensors.cvp&lt;12) &amp;&amp; &#xD;&#xA;&#x9;!common.organ_dysfunction&#xD;&#xA;]" target="_RxrVELlfEeSgCsbis2TQMw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_QVIekLlfEeSgCsbis2TQMw" specification="entry/ common.main_status=&quot;Septic_Shock&quot;" name="Septic_Shock" incomingTransitions="_o53_sLlfEeSgCsbis2TQMw _17CI4LlfEeSgCsbis2TQMw">
        <outgoingTransitions xmi:id="_sk11kLlfEeSgCsbis2TQMw" specification="[!(common.organ_dysfunction)]" target="_NTHfELlfEeSgCsbis2TQMw"/>
        <outgoingTransitions xmi:id="_5FRQQLlfEeSgCsbis2TQMw" specification="[(sensors.cvp>=8 &amp;&amp; sensors.cvp&lt;12) &#xD;&#xA;&#x9;&amp;&amp; common.organ_dysfunction&#xD;&#xA;]" target="_M-qSALlfEeSgCsbis2TQMw"/>
        <outgoingTransitions xmi:id="_GyX5cLlgEeSgCsbis2TQMw" specification="[common.two_organ_dysfunction]" target="_RxrVELlfEeSgCsbis2TQMw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_RxrVELlfEeSgCsbis2TQMw" specification="entry/ common.main_status=&quot;Recovery&quot;" name="Recovery" incomingTransitions="_GyX5cLlgEeSgCsbis2TQMw _RaknMLlgEeSgCsbis2TQMw _WEexkLlgEeSgCsbis2TQMw"/>
    </regions>
    <regions xmi:id="_iWg5ALliEeSgCsbis2TQMw" name="immune system">
      <vertices xsi:type="sgraph:Entry" xmi:id="_iWg5AbliEeSgCsbis2TQMw">
        <outgoingTransitions xmi:id="_iWg5ArliEeSgCsbis2TQMw" target="_iWhgELliEeSgCsbis2TQMw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_iWhgELliEeSgCsbis2TQMw" specification="entry/ common.immune_status=&quot;Normal&quot;" name="Normal" incomingTransitions="_iWg5ArliEeSgCsbis2TQMw _WEyIALlqEeSQMJxfOsOULg">
        <outgoingTransitions xmi:id="_iWhgG7liEeSgCsbis2TQMw" specification="[(sensors.wbc>15 &amp;&amp; sensors.wbc&lt;20)]&#xD;&#xA;/ common.SIRS_score+=2" target="_iWiHKLliEeSgCsbis2TQMw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_iWiHKLliEeSgCsbis2TQMw" specification="entry/ common.immune_status=&quot;Moderate_Abnormal&quot;" name="Moderate_Abnormal" incomingTransitions="_iWhgG7liEeSgCsbis2TQMw _iWiuOrliEeSgCsbis2TQMw">
        <outgoingTransitions xmi:id="_iWiHOLliEeSgCsbis2TQMw" specification="[(sensors.wbc>1 &amp;&amp; sensors.wbc&lt;3) ||&#xD;&#xA;&#x9;(sensors.wbc>20 &amp;&amp; sensors.wbc&lt;40)&#xD;&#xA;] / common.SIRS_score+=1" target="_iWiHU7liEeSgCsbis2TQMw"/>
        <outgoingTransitions xmi:id="_WEyIALlqEeSQMJxfOsOULg" specification="[!(sensors.wbc>15 &amp;&amp; sensors.wbc&lt;20)]&#xD;&#xA;/ common.SIRS_score-=2" target="_iWhgELliEeSgCsbis2TQMw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_iWiHU7liEeSgCsbis2TQMw" specification="entry/ common.immune_status=&quot;Abnormal&quot;" name="Abnormal" incomingTransitions="_iWiHOLliEeSgCsbis2TQMw _HdlOELlqEeSQMJxfOsOULg">
        <outgoingTransitions xmi:id="_iWiuOrliEeSgCsbis2TQMw" specification="[!((sensors.wbc>1 &amp;&amp; sensors.wbc&lt;3) ||&#xD;&#xA;&#x9;(sensors.wbc>20 &amp;&amp; sensors.wbc&lt;40))&#xD;&#xA;] / common.SIRS_score-=1" target="_iWiHKLliEeSgCsbis2TQMw"/>
        <outgoingTransitions xmi:id="_iWiuU7liEeSgCsbis2TQMw" specification="[sensors.wbc&lt;1 || sensors.wbc>40]&#xD;&#xA;/ common.SIRS_score-=1" target="_iWiuWLliEeSgCsbis2TQMw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_iWiuWLliEeSgCsbis2TQMw" specification="entry/ common.immune_status=&quot;Dysfunction&quot;" name="Dysfunction" incomingTransitions="_iWiuU7liEeSgCsbis2TQMw">
        <outgoingTransitions xmi:id="_HdlOELlqEeSQMJxfOsOULg" specification="[!(sensors.wbc&lt;1 || sensors.wbc>40)]&#xD;&#xA;/ common.SIRS_score+=1" target="_iWiHU7liEeSgCsbis2TQMw"/>
      </vertices>
    </regions>
    <regions xmi:id="_jBFmYLlqEeSQMJxfOsOULg" name="cardiac system">
      <vertices xsi:type="sgraph:Entry" xmi:id="_jBFmYblqEeSQMJxfOsOULg">
        <outgoingTransitions xmi:id="_jBFmYrlqEeSQMJxfOsOULg" target="_jBFmY7lqEeSQMJxfOsOULg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_jBFmY7lqEeSQMJxfOsOULg" specification="entry/ common.cardiac_status=&quot;Normal&quot;" name="Normal" incomingTransitions="_jBFmYrlqEeSQMJxfOsOULg _jBG0prlqEeSQMJxfOsOULg">
        <outgoingTransitions xmi:id="_jBGNerlqEeSQMJxfOsOULg" specification="[(sensors.hr>55 &amp;&amp; sensors.hr&lt;69) ||&#xD;&#xA;&#x9;(sensors.hr>110 &amp;&amp; sensors.hr&lt;139)&#xD;&#xA;] / common.SIRS_score+=1" target="_jBGNiblqEeSQMJxfOsOULg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_jBGNiblqEeSQMJxfOsOULg" specification="entry/ common.cardiac_status=&quot;Moderate_Abnormal&quot;" name="Moderate_Abnormal" incomingTransitions="_jBGNerlqEeSQMJxfOsOULg _jBHbmrlqEeSQMJxfOsOULg">
        <outgoingTransitions xmi:id="_jBG0irlqEeSQMJxfOsOULg" specification="[(sensors.hr>40 &amp;&amp; sensors.hr&lt;54) ||&#xD;&#xA;&#x9;(sensors.hr>140 &amp;&amp; sensors.hr&lt;179)&#xD;&#xA;] / common.SIRS_score+=1" target="_jBG0trlqEeSQMJxfOsOULg"/>
        <outgoingTransitions xmi:id="_jBG0prlqEeSQMJxfOsOULg" specification="[!((sensors.hr>55 &amp;&amp; sensors.hr&lt;69) ||&#xD;&#xA;&#x9;(sensors.hr>110 &amp;&amp; sensors.hr&lt;139))&#xD;&#xA;] / common.SIRS_score-=1" target="_jBFmY7lqEeSQMJxfOsOULg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_jBG0trlqEeSQMJxfOsOULg" specification="entry/ common.cardiac_status=&quot;Abnormal&quot;" name="Abnormal" incomingTransitions="_jBG0irlqEeSQMJxfOsOULg _jBIptLlqEeSQMJxfOsOULg">
        <outgoingTransitions xmi:id="_jBHbmrlqEeSQMJxfOsOULg" specification="[!((sensors.hr>40 &amp;&amp; sensors.hr&lt;54) ||&#xD;&#xA;&#x9;(sensors.hr>140 &amp;&amp; sensors.hr&lt;179))&#xD;&#xA;] / common.SIRS_score-=1" target="_jBGNiblqEeSQMJxfOsOULg"/>
        <outgoingTransitions xmi:id="_jBICvblqEeSQMJxfOsOULg" specification="[sensors.hr&lt;39 || sensors.hr>180 || sensors.cvp&lt;8]&#xD;&#xA;/ common.SIRS_score+=2" target="_jBICy7lqEeSQMJxfOsOULg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_jBICy7lqEeSQMJxfOsOULg" specification="entry/ common.cardiac_status=&quot;Dysfunction&quot;" name="Dysfunction" incomingTransitions="_jBICvblqEeSQMJxfOsOULg">
        <outgoingTransitions xmi:id="_jBIptLlqEeSQMJxfOsOULg" specification="[!(sensors.hr&lt;39 || sensors.hr>180 || sensors.cvp&lt;8)]&#xD;&#xA;/ common.SIRS_score-=2" target="_jBG0trlqEeSQMJxfOsOULg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_8aw3ULldEeSgCsbis2TQMw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_8apikLldEeSgCsbis2TQMw" measurementUnit="Pixel">
    <children xmi:id="_8aysgLldEeSgCsbis2TQMw" type="Region" element="_8axeYLldEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_8a298LldEeSgCsbis2TQMw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8a298bldEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8a298rldEeSgCsbis2TQMw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_8a3lALldEeSgCsbis2TQMw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_8a4zILldEeSgCsbis2TQMw" type="Entry" element="_8a4MEbldEeSgCsbis2TQMw">
          <children xmi:id="_8a4zI7ldEeSgCsbis2TQMw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_8a5aMLldEeSgCsbis2TQMw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_8a5aMbldEeSgCsbis2TQMw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_8a5aMrldEeSgCsbis2TQMw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_8a4zJLldEeSgCsbis2TQMw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8a4zJbldEeSgCsbis2TQMw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_8a4zIbldEeSgCsbis2TQMw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8a5aM7ldEeSgCsbis2TQMw" x="9" y="106"/>
        </children>
        <children xmi:id="_8a6BQrldEeSgCsbis2TQMw" type="State" element="_8a5aNLldEeSgCsbis2TQMw">
          <children xsi:type="notation:DecorationNode" xmi:id="_8a6oULldEeSgCsbis2TQMw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_8a6oUbldEeSgCsbis2TQMw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_8a6oUrldEeSgCsbis2TQMw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8a7PYLldEeSgCsbis2TQMw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_8a7PYbldEeSgCsbis2TQMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8a7PYrldEeSgCsbis2TQMw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8a72cLldEeSgCsbis2TQMw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_8a6BQ7ldEeSgCsbis2TQMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_8a6BRLldEeSgCsbis2TQMw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8a72cbldEeSgCsbis2TQMw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8a72crldEeSgCsbis2TQMw" x="33" y="130" width="131" height="66"/>
        </children>
        <children xmi:id="_LxabwLlfEeSgCsbis2TQMw" type="State" element="_LxcQ8LlfEeSgCsbis2TQMw">
          <children xsi:type="notation:DecorationNode" xmi:id="_LxabwblfEeSgCsbis2TQMw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LxabwrlfEeSgCsbis2TQMw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Lxabw7lfEeSgCsbis2TQMw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LxabxLlfEeSgCsbis2TQMw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_LxabxblfEeSgCsbis2TQMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LxabxrlfEeSgCsbis2TQMw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Lxabx7lfEeSgCsbis2TQMw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LxabyLlfEeSgCsbis2TQMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LxabyblfEeSgCsbis2TQMw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LxabyrlfEeSgCsbis2TQMw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Lxaby7lfEeSgCsbis2TQMw" x="237" y="10" width="131" height="66"/>
        </children>
        <children xmi:id="_M-oc0LlfEeSgCsbis2TQMw" type="State" element="_M-qSALlfEeSgCsbis2TQMw">
          <children xsi:type="notation:DecorationNode" xmi:id="_M-oc0blfEeSgCsbis2TQMw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_M-oc0rlfEeSgCsbis2TQMw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_M-oc07lfEeSgCsbis2TQMw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_M-oc1LlfEeSgCsbis2TQMw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_M-oc1blfEeSgCsbis2TQMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_M-oc1rlfEeSgCsbis2TQMw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_M-oc17lfEeSgCsbis2TQMw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_M-oc2LlfEeSgCsbis2TQMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_M-oc2blfEeSgCsbis2TQMw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_M-oc2rlfEeSgCsbis2TQMw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_M-oc27lfEeSgCsbis2TQMw" x="765" y="130" width="131" height="66"/>
        </children>
        <children xmi:id="_NTG4AblfEeSgCsbis2TQMw" type="State" element="_NTHfELlfEeSgCsbis2TQMw">
          <children xsi:type="notation:DecorationNode" xmi:id="_NTG4ArlfEeSgCsbis2TQMw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_NTG4A7lfEeSgCsbis2TQMw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_NTG4BLlfEeSgCsbis2TQMw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NTG4BblfEeSgCsbis2TQMw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_NTG4BrlfEeSgCsbis2TQMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NTG4B7lfEeSgCsbis2TQMw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NTG4CLlfEeSgCsbis2TQMw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_NTG4CblfEeSgCsbis2TQMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_NTG4CrlfEeSgCsbis2TQMw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_NTG4C7lfEeSgCsbis2TQMw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NTG4DLlfEeSgCsbis2TQMw" x="556" y="10" width="131" height="66"/>
        </children>
        <children xmi:id="_QVH3gLlfEeSgCsbis2TQMw" type="State" element="_QVIekLlfEeSgCsbis2TQMw">
          <children xsi:type="notation:DecorationNode" xmi:id="_QVH3gblfEeSgCsbis2TQMw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_QVH3grlfEeSgCsbis2TQMw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_QVH3g7lfEeSgCsbis2TQMw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_QVH3hLlfEeSgCsbis2TQMw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_QVH3hblfEeSgCsbis2TQMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_QVH3hrlfEeSgCsbis2TQMw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_QVH3h7lfEeSgCsbis2TQMw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_QVH3iLlfEeSgCsbis2TQMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_QVH3iblfEeSgCsbis2TQMw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_QVH3irlfEeSgCsbis2TQMw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_QVH3i7lfEeSgCsbis2TQMw" x="556" y="250" width="131" height="66"/>
        </children>
        <children xmi:id="_RxquAblfEeSgCsbis2TQMw" type="State" element="_RxrVELlfEeSgCsbis2TQMw">
          <children xsi:type="notation:DecorationNode" xmi:id="_RxquArlfEeSgCsbis2TQMw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_RxquA7lfEeSgCsbis2TQMw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_RxquBLlfEeSgCsbis2TQMw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RxquBblfEeSgCsbis2TQMw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_RxquBrlfEeSgCsbis2TQMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RxquB7lfEeSgCsbis2TQMw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RxquCLlfEeSgCsbis2TQMw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_RxquCblfEeSgCsbis2TQMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_RxquCrlfEeSgCsbis2TQMw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_RxquC7lfEeSgCsbis2TQMw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RxquDLlfEeSgCsbis2TQMw" x="237" y="250" width="131" height="66"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8a3lAbldEeSgCsbis2TQMw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_8aysgbldEeSgCsbis2TQMw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8a4MELldEeSgCsbis2TQMw" x="328" width="969" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_8a9ElLldEeSgCsbis2TQMw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_8a9roLldEeSgCsbis2TQMw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8a9robldEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8a9rorldEeSgCsbis2TQMw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_8a9ro7ldEeSgCsbis2TQMw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8a9rpLldEeSgCsbis2TQMw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8a9rpbldEeSgCsbis2TQMw" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_iWfq4LliEeSgCsbis2TQMw" type="Region" element="_iWg5ALliEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_iWfq4bliEeSgCsbis2TQMw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iWfq4rliEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iWfq47liEeSgCsbis2TQMw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_iWfq5LliEeSgCsbis2TQMw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_iWfq5bliEeSgCsbis2TQMw" type="Entry" element="_iWg5AbliEeSgCsbis2TQMw">
          <children xmi:id="_iWfq5rliEeSgCsbis2TQMw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_iWfq57liEeSgCsbis2TQMw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_iWfq6LliEeSgCsbis2TQMw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_iWfq6bliEeSgCsbis2TQMw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_iWfq6rliEeSgCsbis2TQMw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iWfq67liEeSgCsbis2TQMw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_iWfq7LliEeSgCsbis2TQMw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iWfq7bliEeSgCsbis2TQMw" x="15" y="116"/>
        </children>
        <children xmi:id="_iWfq-rliEeSgCsbis2TQMw" type="State" element="_iWhgELliEeSgCsbis2TQMw">
          <children xsi:type="notation:DecorationNode" xmi:id="_iWfq-7liEeSgCsbis2TQMw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_iWfq_LliEeSgCsbis2TQMw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_iWfq_bliEeSgCsbis2TQMw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_iWfq_rliEeSgCsbis2TQMw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_iWfq_7liEeSgCsbis2TQMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iWfrALliEeSgCsbis2TQMw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_iWfrAbliEeSgCsbis2TQMw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_iWfrArliEeSgCsbis2TQMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_iWfrA7liEeSgCsbis2TQMw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_iWfrBLliEeSgCsbis2TQMw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iWfrBbliEeSgCsbis2TQMw" x="-10" y="16" width="131" height="66"/>
        </children>
        <children xmi:id="_iWfrErliEeSgCsbis2TQMw" type="State" element="_iWiHKLliEeSgCsbis2TQMw">
          <children xsi:type="notation:DecorationNode" xmi:id="_iWfrE7liEeSgCsbis2TQMw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_iWfrFLliEeSgCsbis2TQMw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_iWfrFbliEeSgCsbis2TQMw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_iWfrFrliEeSgCsbis2TQMw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_iWfrF7liEeSgCsbis2TQMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iWfrGLliEeSgCsbis2TQMw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_iWfrGbliEeSgCsbis2TQMw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_iWfrGrliEeSgCsbis2TQMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_iWfrG7liEeSgCsbis2TQMw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_iWfrHLliEeSgCsbis2TQMw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iWfrHbliEeSgCsbis2TQMw" x="464" y="16" width="131" height="66"/>
        </children>
        <children xmi:id="_iWfrHrliEeSgCsbis2TQMw" type="State" element="_iWiHU7liEeSgCsbis2TQMw">
          <children xsi:type="notation:DecorationNode" xmi:id="_iWfrH7liEeSgCsbis2TQMw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_iWfrILliEeSgCsbis2TQMw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_iWfrIbliEeSgCsbis2TQMw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_iWfrIrliEeSgCsbis2TQMw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_iWfrI7liEeSgCsbis2TQMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iWfrJLliEeSgCsbis2TQMw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_iWfrJbliEeSgCsbis2TQMw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_iWfrJrliEeSgCsbis2TQMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_iWfrJ7liEeSgCsbis2TQMw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_iWfrKLliEeSgCsbis2TQMw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iWfrKbliEeSgCsbis2TQMw" x="464" y="284" width="131" height="66"/>
        </children>
        <children xmi:id="_iWfrKrliEeSgCsbis2TQMw" type="State" element="_iWiuWLliEeSgCsbis2TQMw">
          <children xsi:type="notation:DecorationNode" xmi:id="_iWfrK7liEeSgCsbis2TQMw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_iWfrLLliEeSgCsbis2TQMw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_iWfrLbliEeSgCsbis2TQMw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_iWfrLrliEeSgCsbis2TQMw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_iWfrL7liEeSgCsbis2TQMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iWfrMLliEeSgCsbis2TQMw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_iWfrMbliEeSgCsbis2TQMw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_iWfrMrliEeSgCsbis2TQMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_iWfrM7liEeSgCsbis2TQMw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_iWfrNLliEeSgCsbis2TQMw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iWfrNbliEeSgCsbis2TQMw" x="-10" y="284" width="131" height="66"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iWfrNrliEeSgCsbis2TQMw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_iWfrN7liEeSgCsbis2TQMw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iWfrOLliEeSgCsbis2TQMw" x="12" y="432" width="637" height="403"/>
    </children>
    <children xmi:id="_jBB8ALlqEeSQMJxfOsOULg" type="Region" element="_jBFmYLlqEeSQMJxfOsOULg">
      <children xsi:type="notation:DecorationNode" xmi:id="_jBB8AblqEeSQMJxfOsOULg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jBB8ArlqEeSQMJxfOsOULg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jBB8A7lqEeSQMJxfOsOULg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_jBB8BLlqEeSQMJxfOsOULg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_jBB8BblqEeSQMJxfOsOULg" type="Entry" element="_jBFmYblqEeSQMJxfOsOULg">
          <children xmi:id="_jBB8BrlqEeSQMJxfOsOULg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_jBB8B7lqEeSQMJxfOsOULg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_jBB8CLlqEeSQMJxfOsOULg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_jBB8CblqEeSQMJxfOsOULg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jBB8CrlqEeSQMJxfOsOULg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jBB8C7lqEeSQMJxfOsOULg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jBB8DLlqEeSQMJxfOsOULg" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jBB8DblqEeSQMJxfOsOULg" x="15" y="116"/>
        </children>
        <children xmi:id="_jBB8DrlqEeSQMJxfOsOULg" type="State" element="_jBFmY7lqEeSQMJxfOsOULg">
          <children xsi:type="notation:DecorationNode" xmi:id="_jBB8D7lqEeSQMJxfOsOULg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jBB8ELlqEeSQMJxfOsOULg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_jBB8EblqEeSQMJxfOsOULg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jBB8ErlqEeSQMJxfOsOULg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_jBB8E7lqEeSQMJxfOsOULg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jBB8FLlqEeSQMJxfOsOULg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jBB8FblqEeSQMJxfOsOULg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jBB8FrlqEeSQMJxfOsOULg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_jBB8F7lqEeSQMJxfOsOULg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jBB8GLlqEeSQMJxfOsOULg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jBB8GblqEeSQMJxfOsOULg" x="-10" y="16" width="131" height="66"/>
        </children>
        <children xmi:id="_jBB8GrlqEeSQMJxfOsOULg" type="State" element="_jBGNiblqEeSQMJxfOsOULg">
          <children xsi:type="notation:DecorationNode" xmi:id="_jBB8G7lqEeSQMJxfOsOULg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jBB8HLlqEeSQMJxfOsOULg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_jBB8HblqEeSQMJxfOsOULg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jBB8HrlqEeSQMJxfOsOULg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_jBB8H7lqEeSQMJxfOsOULg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jBB8ILlqEeSQMJxfOsOULg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jBB8IblqEeSQMJxfOsOULg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jBB8IrlqEeSQMJxfOsOULg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_jBB8I7lqEeSQMJxfOsOULg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jBB8JLlqEeSQMJxfOsOULg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jBB8JblqEeSQMJxfOsOULg" x="464" y="16" width="131" height="66"/>
        </children>
        <children xmi:id="_jBB8JrlqEeSQMJxfOsOULg" type="State" element="_jBG0trlqEeSQMJxfOsOULg">
          <children xsi:type="notation:DecorationNode" xmi:id="_jBB8J7lqEeSQMJxfOsOULg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jBB8KLlqEeSQMJxfOsOULg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_jBB8KblqEeSQMJxfOsOULg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jBB8KrlqEeSQMJxfOsOULg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_jBB8K7lqEeSQMJxfOsOULg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jBB8LLlqEeSQMJxfOsOULg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jBB8LblqEeSQMJxfOsOULg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jBB8LrlqEeSQMJxfOsOULg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_jBB8L7lqEeSQMJxfOsOULg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jBB8MLlqEeSQMJxfOsOULg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jBB8MblqEeSQMJxfOsOULg" x="464" y="284" width="131" height="66"/>
        </children>
        <children xmi:id="_jBB8MrlqEeSQMJxfOsOULg" type="State" element="_jBICy7lqEeSQMJxfOsOULg">
          <children xsi:type="notation:DecorationNode" xmi:id="_jBB8M7lqEeSQMJxfOsOULg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jBB8NLlqEeSQMJxfOsOULg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_jBB8NblqEeSQMJxfOsOULg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jBB8NrlqEeSQMJxfOsOULg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_jBB8N7lqEeSQMJxfOsOULg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jBB8OLlqEeSQMJxfOsOULg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jBB8OblqEeSQMJxfOsOULg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jBB8OrlqEeSQMJxfOsOULg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_jBB8O7lqEeSQMJxfOsOULg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jBB8PLlqEeSQMJxfOsOULg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jBB8PblqEeSQMJxfOsOULg" x="-10" y="284" width="131" height="66"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jBB8RLlqEeSQMJxfOsOULg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_jBB8RblqEeSQMJxfOsOULg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jBB8RrlqEeSQMJxfOsOULg" x="660" y="432" width="637" height="403"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_8aw3UbldEeSgCsbis2TQMw"/>
    <edges xmi:id="_8a8dgLldEeSgCsbis2TQMw" type="Transition" element="_8a72c7ldEeSgCsbis2TQMw" source="_8a4zILldEeSgCsbis2TQMw" target="_8a6BQrldEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_8a9EkbldEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8a9EkrldEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8a9Ek7ldEeSgCsbis2TQMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8a8dgbldEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8a9EkLldEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8a8dgrldEeSgCsbis2TQMw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_UDiC8LlfEeSgCsbis2TQMw" type="Transition" element="_UDbVQLlfEeSgCsbis2TQMw" source="_8a6BQrldEeSgCsbis2TQMw" target="_LxabwLlfEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_UDiqAblfEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_UDiqArlfEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_UDiqA7lfEeSgCsbis2TQMw" x="-26" y="-63"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_UDiC8blfEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_UDiqALlfEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_UDiC8rlfEeSgCsbis2TQMw" points="[0, 0, -103, 100]$[104, -91, 1, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UDnigLlfEeSgCsbis2TQMw" id="(1.0,0.5303030303030303)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UDnigblfEeSgCsbis2TQMw" id="(0.1984732824427481,0.8636363636363636)"/>
    </edges>
    <edges xmi:id="_ZuHnMLlfEeSgCsbis2TQMw" type="Transition" element="_ZuGZELlfEeSgCsbis2TQMw" source="_LxabwLlfEeSgCsbis2TQMw" target="_NTG4AblfEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZuIOQblfEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZuIOQrlfEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZuIOQ7lfEeSgCsbis2TQMw" x="4" y="-21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZuHnMblfEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ZuIOQLlfEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ZuHnMrlfEeSgCsbis2TQMw" points="[0, 0, -146, 3]$[147, 29, 1, 32]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZuLRkLlfEeSgCsbis2TQMw" id="(1.0,0.5303030303030303)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZuLRkblfEeSgCsbis2TQMw" id="(0.06870229007633588,0.48484848484848486)"/>
    </edges>
    <edges xmi:id="_ghbuELlfEeSgCsbis2TQMw" type="Transition" element="_ghZ44LlfEeSgCsbis2TQMw" source="_NTG4AblfEeSgCsbis2TQMw" target="_M-oc0LlfEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_ghcVILlfEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ghcVIblfEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ghcVIrlfEeSgCsbis2TQMw" x="53" y="-54"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ghbuEblfEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ghbuE7lfEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ghbuErlfEeSgCsbis2TQMw" points="[82, 52, -108, -69]$[192, 120, 2, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ghexYLlfEeSgCsbis2TQMw" id="(0.3511450381679389,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ghexYblfEeSgCsbis2TQMw" id="(0.20610687022900764,0.030303030303030304)"/>
    </edges>
    <edges xmi:id="_kEEHULlfEeSgCsbis2TQMw" type="Transition" element="_kEDgQLlfEeSgCsbis2TQMw" source="_M-oc0LlfEeSgCsbis2TQMw" target="_NTG4AblfEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_kEEuYblfEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kEEuYrlfEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kEEuY7lfEeSgCsbis2TQMw" x="27" y="-26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kEEHUblfEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kEEuYLlfEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kEEHUrlfEeSgCsbis2TQMw" points="[0, 0, 159, 101]$[-156, -89, 3, 12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kEHxsLlfEeSgCsbis2TQMw" id="(0.0,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kEMDILlfEeSgCsbis2TQMw" id="(0.40458015267175573,0.8181818181818182)"/>
    </edges>
    <edges xmi:id="_o55N0LlfEeSgCsbis2TQMw" type="Transition" element="_o53_sLlfEeSgCsbis2TQMw" source="_NTG4AblfEeSgCsbis2TQMw" target="_QVH3gLlfEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_o5504blfEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_o5504rlfEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_o55047lfEeSgCsbis2TQMw" x="25" y="-54"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_o55N0blfEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_o5504LlfEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_o55N0rlfEeSgCsbis2TQMw" points="[10, 0, 3, -183]$[10, 179, 3, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_o58RILlfEeSgCsbis2TQMw" id="(0.3511450381679389,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_o58RIblfEeSgCsbis2TQMw" id="(0.4122137404580153,0.07575757575757576)"/>
    </edges>
    <edges xmi:id="_sk3qwLlfEeSgCsbis2TQMw" type="Transition" element="_sk11kLlfEeSgCsbis2TQMw" source="_QVH3gLlfEeSgCsbis2TQMw" target="_NTG4AblfEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_sk4R0blfEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sk4R0rlfEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sk4R07lfEeSgCsbis2TQMw" x="-1" y="-39"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_sk3qwblfEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_sk4R0LlfEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_sk3qwrlfEeSgCsbis2TQMw" points="[2, -40, -10, 190]$[13, -219, 1, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sk6uELlfEeSgCsbis2TQMw" id="(0.15267175572519084,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sk6uEblfEeSgCsbis2TQMw" id="(0.09923664122137404,0.8333333333333334)"/>
    </edges>
    <edges xmi:id="_17DXALlfEeSgCsbis2TQMw" type="Transition" element="_17CI4LlfEeSgCsbis2TQMw" source="_M-oc0LlfEeSgCsbis2TQMw" target="_QVH3gLlfEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_17ElILlfEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_17ElIblfEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_17ElIrlfEeSgCsbis2TQMw" x="30" y="22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_17DXAblfEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_17D-ELlfEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_17DXArlfEeSgCsbis2TQMw" points="[0, 0, 148, -82]$[-143, 59, 5, -23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_17HBYLlfEeSgCsbis2TQMw" id="(0.44274809160305345,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_17HBYblfEeSgCsbis2TQMw" id="(0.9236641221374046,0.3787878787878788)"/>
    </edges>
    <edges xmi:id="_5FTFcLlfEeSgCsbis2TQMw" type="Transition" element="_5FRQQLlfEeSgCsbis2TQMw" source="_QVH3gLlfEeSgCsbis2TQMw" target="_M-oc0LlfEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_5FTFdLlfEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5FTFdblfEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5FTsgLlfEeSgCsbis2TQMw" x="26" y="78"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5FTFcblfEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5FTFc7lfEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5FTFcrlfEeSgCsbis2TQMw" points="[14, -7, -180, 109]$[198, -107, 4, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5FWIwLlfEeSgCsbis2TQMw" id="(0.8931297709923665,0.803030303030303)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5FWIwblfEeSgCsbis2TQMw" id="(0.7862595419847328,0.9545454545454546)"/>
    </edges>
    <edges xmi:id="_Gycx8LlgEeSgCsbis2TQMw" type="Transition" element="_GyX5cLlgEeSgCsbis2TQMw" source="_QVH3gLlfEeSgCsbis2TQMw" target="_RxquAblfEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Gycx9LlgEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Gycx9blgEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Gycx9rlgEeSgCsbis2TQMw" x="-7" y="-27"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Gycx8blgEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Gycx87lgEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Gycx8rlgEeSgCsbis2TQMw" points="[0, 6, 209, 4]$[-204, 22, 5, 20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GyenILlgEeSgCsbis2TQMw" id="(0.0,0.6515151515151515)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GyenIblgEeSgCsbis2TQMw" id="(0.8778625954198473,0.6818181818181818)"/>
    </edges>
    <edges xmi:id="_RaqGwLlgEeSgCsbis2TQMw" type="Transition" element="_RaknMLlgEeSgCsbis2TQMw" source="_LxabwLlfEeSgCsbis2TQMw" target="_RxquAblfEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Raqt0LlgEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Raqt0blgEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Raqt0rlgEeSgCsbis2TQMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RaqGwblgEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RaqGw7lgEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RaqGwrlgEeSgCsbis2TQMw" points="[6, 0, 3, -180]$[6, 179, 3, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RasjALlgEeSgCsbis2TQMw" id="(0.37404580152671757,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RasjAblgEeSgCsbis2TQMw" id="(0.40458015267175573,0.030303030303030304)"/>
    </edges>
    <edges xmi:id="_WEgmwLlgEeSgCsbis2TQMw" type="Transition" element="_WEexkLlgEeSgCsbis2TQMw" source="_NTG4AblfEeSgCsbis2TQMw" target="_RxquAblfEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_WEhN0LlgEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WEhN0blgEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WEhN0rlgEeSgCsbis2TQMw" x="-4" y="55"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WEgmwblgEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WEgmw7lgEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WEgmwrlgEeSgCsbis2TQMw" points="[0, 0, 229, -206]$[-225, 201, 4, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WEjqELlgEeSgCsbis2TQMw" id="(0.0,0.6515151515151515)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WEjqEblgEeSgCsbis2TQMw" id="(0.7175572519083969,0.09090909090909091)"/>
    </edges>
    <edges xmi:id="_iWlxgLliEeSgCsbis2TQMw" type="Transition" element="_iWg5ArliEeSgCsbis2TQMw" source="_iWfq5bliEeSgCsbis2TQMw" target="_iWfq-rliEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_iWlxgbliEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iWlxgrliEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iWlxg7liEeSgCsbis2TQMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iWlxhLliEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iWlxhbliEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iWlxhrliEeSgCsbis2TQMw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r72bkLliEeSgCsbis2TQMw" id="(0.2366412213740458,0.9090909090909091)"/>
    </edges>
    <edges xmi:id="_iWmYkLliEeSgCsbis2TQMw" type="Transition" element="_iWhgG7liEeSgCsbis2TQMw" source="_iWfq-rliEeSgCsbis2TQMw" target="_iWfrErliEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_iWmYkbliEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iWmYkrliEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iWmYk7liEeSgCsbis2TQMw" x="3" y="-32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iWmYlLliEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iWmYlbliEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iWmYlrliEeSgCsbis2TQMw" points="[0, 0, -146, 3]$[147, 29, 1, 32]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iWmYl7liEeSgCsbis2TQMw" id="(0.9770992366412213,0.3333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iWmYmLliEeSgCsbis2TQMw" id="(0.007633587786259542,0.21212121212121213)"/>
    </edges>
    <edges xmi:id="_iWmYq7liEeSgCsbis2TQMw" type="Transition" element="_iWiHOLliEeSgCsbis2TQMw" source="_iWfrErliEeSgCsbis2TQMw" target="_iWfrHrliEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_iWmYrLliEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iWmYrbliEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iWmYrrliEeSgCsbis2TQMw" x="41" y="73"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iWmYr7liEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iWmYsLliEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iWmYsbliEeSgCsbis2TQMw" points="[10, 0, 3, -183]$[10, 179, 3, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iWmYsrliEeSgCsbis2TQMw" id="(0.3511450381679389,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iWmYs7liEeSgCsbis2TQMw" id="(0.4122137404580153,0.07575757575757576)"/>
    </edges>
    <edges xmi:id="_iWmYtLliEeSgCsbis2TQMw" type="Transition" element="_iWiuOrliEeSgCsbis2TQMw" source="_iWfrHrliEeSgCsbis2TQMw" target="_iWfrErliEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_iWmYtbliEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iWmYtrliEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iWmYt7liEeSgCsbis2TQMw" x="42" y="-161"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iWmYuLliEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iWmYubliEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iWmYurliEeSgCsbis2TQMw" points="[2, -40, -10, 190]$[13, -219, 1, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iWmYu7liEeSgCsbis2TQMw" id="(0.15267175572519084,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iWmYvLliEeSgCsbis2TQMw" id="(0.09923664122137404,0.8333333333333334)"/>
    </edges>
    <edges xmi:id="_iWm_qbliEeSgCsbis2TQMw" type="Transition" element="_iWiuU7liEeSgCsbis2TQMw" source="_iWfrHrliEeSgCsbis2TQMw" target="_iWfrKrliEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_iWm_qrliEeSgCsbis2TQMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iWm_q7liEeSgCsbis2TQMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iWm_rLliEeSgCsbis2TQMw" x="2" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iWm_rbliEeSgCsbis2TQMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iWm_rrliEeSgCsbis2TQMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iWm_r7liEeSgCsbis2TQMw" points="[0, 6, 209, 4]$[-204, 22, 5, 20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iWm_sLliEeSgCsbis2TQMw" id="(0.0,0.6515151515151515)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iWm_sbliEeSgCsbis2TQMw" id="(0.8778625954198473,0.6818181818181818)"/>
    </edges>
    <edges xmi:id="_HdnDQLlqEeSQMJxfOsOULg" type="Transition" element="_HdlOELlqEeSQMJxfOsOULg" source="_iWfrKrliEeSgCsbis2TQMw" target="_iWfrHrliEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_HdnqULlqEeSQMJxfOsOULg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HdnqUblqEeSQMJxfOsOULg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HdnqUrlqEeSQMJxfOsOULg" x="-6" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_HdnDQblqEeSQMJxfOsOULg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_HdnDQ7lqEeSQMJxfOsOULg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_HdnDQrlqEeSQMJxfOsOULg" points="[0, 1, -295, 3]$[296, 31, 1, 33]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Hdo4cLlqEeSQMJxfOsOULg" id="(0.9541984732824428,0.19696969696969696)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Hdo4cblqEeSQMJxfOsOULg" id="(0.0,0.22727272727272727)"/>
    </edges>
    <edges xmi:id="_WEyvELlqEeSQMJxfOsOULg" type="Transition" element="_WEyIALlqEeSQMJxfOsOULg" source="_iWfrErliEeSgCsbis2TQMw" target="_iWfq-rliEeSgCsbis2TQMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_WEyvFLlqEeSQMJxfOsOULg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WEzWILlqEeSQMJxfOsOULg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WEzWIblqEeSQMJxfOsOULg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WEyvEblqEeSQMJxfOsOULg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WEyvE7lqEeSQMJxfOsOULg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WEyvErlqEeSQMJxfOsOULg" points="[0, 6, 303, 4]$[-298, 21, 5, 19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WEz9MLlqEeSQMJxfOsOULg" id="(0.0,0.6666666666666666)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WEz9MblqEeSQMJxfOsOULg" id="(0.9312977099236641,0.696969696969697)"/>
    </edges>
    <edges xmi:id="_jBPXYLlqEeSQMJxfOsOULg" type="Transition" element="_jBFmYrlqEeSQMJxfOsOULg" source="_jBB8BblqEeSQMJxfOsOULg" target="_jBB8DrlqEeSQMJxfOsOULg">
      <children xsi:type="notation:DecorationNode" xmi:id="_jBPXYblqEeSQMJxfOsOULg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jBPXYrlqEeSQMJxfOsOULg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jBPXY7lqEeSQMJxfOsOULg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jBPXZLlqEeSQMJxfOsOULg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jBPXZblqEeSQMJxfOsOULg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jBPXZrlqEeSQMJxfOsOULg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jBPXZ7lqEeSQMJxfOsOULg" id="(0.2366412213740458,0.9090909090909091)"/>
    </edges>
    <edges xmi:id="_jBPXaLlqEeSQMJxfOsOULg" type="Transition" element="_jBGNerlqEeSQMJxfOsOULg" source="_jBB8DrlqEeSQMJxfOsOULg" target="_jBB8GrlqEeSQMJxfOsOULg">
      <children xsi:type="notation:DecorationNode" xmi:id="_jBPXablqEeSQMJxfOsOULg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jBPXarlqEeSQMJxfOsOULg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jBPXa7lqEeSQMJxfOsOULg" y="-22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jBPXbLlqEeSQMJxfOsOULg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jBPXbblqEeSQMJxfOsOULg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jBPXbrlqEeSQMJxfOsOULg" points="[0, 0, -146, 3]$[147, 29, 1, 32]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jBPXb7lqEeSQMJxfOsOULg" id="(0.9770992366412213,0.3333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jBPXcLlqEeSQMJxfOsOULg" id="(0.007633587786259542,0.21212121212121213)"/>
    </edges>
    <edges xmi:id="_jBPXcblqEeSQMJxfOsOULg" type="Transition" element="_jBG0irlqEeSQMJxfOsOULg" source="_jBB8GrlqEeSQMJxfOsOULg" target="_jBB8JrlqEeSQMJxfOsOULg">
      <children xsi:type="notation:DecorationNode" xmi:id="_jBPXcrlqEeSQMJxfOsOULg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jBPXc7lqEeSQMJxfOsOULg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jBPXdLlqEeSQMJxfOsOULg" x="41" y="73"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jBPXdblqEeSQMJxfOsOULg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jBPXdrlqEeSQMJxfOsOULg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jBPXd7lqEeSQMJxfOsOULg" points="[10, 0, 3, -183]$[10, 179, 3, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jBPXeLlqEeSQMJxfOsOULg" id="(0.3511450381679389,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jBPXeblqEeSQMJxfOsOULg" id="(0.4122137404580153,0.07575757575757576)"/>
    </edges>
    <edges xmi:id="_jBPXerlqEeSQMJxfOsOULg" type="Transition" element="_jBHbmrlqEeSQMJxfOsOULg" source="_jBB8JrlqEeSQMJxfOsOULg" target="_jBB8GrlqEeSQMJxfOsOULg">
      <children xsi:type="notation:DecorationNode" xmi:id="_jBPXe7lqEeSQMJxfOsOULg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jBPXfLlqEeSQMJxfOsOULg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jBPXfblqEeSQMJxfOsOULg" x="42" y="-155"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jBPXfrlqEeSQMJxfOsOULg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jBPXf7lqEeSQMJxfOsOULg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jBPXgLlqEeSQMJxfOsOULg" points="[2, -40, -10, 190]$[13, -219, 1, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jBPXgblqEeSQMJxfOsOULg" id="(0.15267175572519084,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jBPXgrlqEeSQMJxfOsOULg" id="(0.09923664122137404,0.8333333333333334)"/>
    </edges>
    <edges xmi:id="_jBP-cLlqEeSQMJxfOsOULg" type="Transition" element="_jBICvblqEeSQMJxfOsOULg" source="_jBB8JrlqEeSQMJxfOsOULg" target="_jBB8MrlqEeSQMJxfOsOULg">
      <children xsi:type="notation:DecorationNode" xmi:id="_jBP-cblqEeSQMJxfOsOULg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jBP-crlqEeSQMJxfOsOULg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jBP-c7lqEeSQMJxfOsOULg" x="2" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jBP-dLlqEeSQMJxfOsOULg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jBP-dblqEeSQMJxfOsOULg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jBP-drlqEeSQMJxfOsOULg" points="[0, 6, 209, 4]$[-204, 22, 5, 20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jBP-d7lqEeSQMJxfOsOULg" id="(0.0,0.6515151515151515)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jBP-eLlqEeSQMJxfOsOULg" id="(0.8778625954198473,0.6818181818181818)"/>
    </edges>
    <edges xmi:id="_jBP-eblqEeSQMJxfOsOULg" type="Transition" element="_jBIptLlqEeSQMJxfOsOULg" source="_jBB8MrlqEeSQMJxfOsOULg" target="_jBB8JrlqEeSQMJxfOsOULg">
      <children xsi:type="notation:DecorationNode" xmi:id="_jBP-erlqEeSQMJxfOsOULg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jBP-e7lqEeSQMJxfOsOULg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jBP-fLlqEeSQMJxfOsOULg" x="2" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jBP-fblqEeSQMJxfOsOULg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jBP-frlqEeSQMJxfOsOULg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jBP-f7lqEeSQMJxfOsOULg" points="[0, 1, -295, 3]$[296, 31, 1, 33]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jBP-gLlqEeSQMJxfOsOULg" id="(0.9541984732824428,0.19696969696969696)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jBP-gblqEeSQMJxfOsOULg" id="(0.0,0.22727272727272727)"/>
    </edges>
    <edges xmi:id="_jBP-grlqEeSQMJxfOsOULg" type="Transition" element="_jBG0prlqEeSQMJxfOsOULg" source="_jBB8GrlqEeSQMJxfOsOULg" target="_jBB8DrlqEeSQMJxfOsOULg">
      <children xsi:type="notation:DecorationNode" xmi:id="_jBP-g7lqEeSQMJxfOsOULg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jBP-hLlqEeSQMJxfOsOULg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jBP-hblqEeSQMJxfOsOULg" x="-3" y="-20"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jBP-hrlqEeSQMJxfOsOULg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jBP-h7lqEeSQMJxfOsOULg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jBP-iLlqEeSQMJxfOsOULg" points="[0, 6, 303, 4]$[-298, 21, 5, 19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jBP-iblqEeSQMJxfOsOULg" id="(0.0,0.6666666666666666)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jBP-irlqEeSQMJxfOsOULg" id="(0.9312977099236641,0.696969696969697)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
